$colors: (
  bg: (
    100: hsl(0, 0%, 98%),
    200: hsl(207, 26%, 17%),
  ),
  el: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 9%, 98%),
    300: hsl(0, 0%, 52%),
    400: hsl(209, 23%, 22%),
  ),
  txt: (
    100: hsl(0, 0%, 98%),
    200: hsl(200, 15%, 8%),
  ),
);
