/* ////////////////////////////////////////////
// LAYOUT: ATTRIBUTION
*/
.attribution {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 0.5rem;
  font-size: 11px;
}

.legal {
  padding: 1.5rem .5rem;
  color: var(--clr-txt-100);
  font-size: 1.2rem;
  text-align: center;
}
