/* ////////////////////////////////////////////
// LAYOUT: HEADER
*/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 7rem;
  border-bottom: 1px solid var(--clr-txt-200);
  background-color: var(--clr-bg-100);
  font-size: 1.4rem;
}
