/* ////////////////////////////////////////////
// LAYOUT: SECTION-OVERVIEW
*/
.overview {
  display: flex;
  align-items: center;
  // padding: ;
  border-bottom: 1px solid var(--clr-sec-200);

  &__heading {
    padding: 1.5rem 3rem;
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__stars {
    display: flex; //fixes the centering inline element children
    margin-right: auto;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--clr-pry-200);
  }

  &__icon-location {
    margin-right: 0.5rem;
  }

  &__location {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }

  &__rating {
    align-self: stretch;
    margin-left: 3rem;
    padding: 0 2.25rem;
    background-color: var(--clr-pry-200);
    color: var(--clr-neutral);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}
