/* ////////////////////////////////////////////
// UTILITIES: GRID
*/
%u-grid {
  display: grid;
  grid-gap: 1rem;
}
.u-grid-2 {
  @extend %u-grid;
  grid-template-columns: repeat(2, 1fr);
}
.u-grid-3 {
  @extend %u-grid;
  grid-template-columns: repeat(3, 1fr);
}
.u-grid-4 {
  @extend %u-grid;
  grid-template-columns: repeat(4, 1fr);
}
.u-grid-5 {
  @extend %u-grid;
  grid-template-columns: repeat(5, 1fr);
}

// .grid-2,
// .grid-3,
// .grid-4 {
//   grid-template-columns: 1fr;
// }