/* ////////////////////////////////////////////
// UTILITIES: SPACERS
*/
$idx: 1;
$max: 4;
$positions: (
  top: 't',
  right: 'r',
  bottom: 'b',
  left: 'l',
);
$units: 'rem';

@for $sz from $idx through $max {
  @each $unit in $units {
    @each $position, $pos in $positions {
      .u-m#{$pos}-#{$sz} {
        margin-#{$position}: #{$sz}#{$unit};
      }
      .u-p#{$pos}-#{$sz} {
        padding-#{$position}: #{$sz}#{$unit};
      }
    }
    // Margin
    .u-m-#{$sz} {
      margin: #{$sz}#{$unit};
    }
    .u-mx-#{$sz} {
      margin: 0 #{$sz}#{$unit};
    }
    .u-my-#{$sz} {
      margin: #{$sz}#{$unit} 0;
    }

    // Padding
    .u-p-#{$sz} {
      padding: #{$sz}#{$unit};
    }
    .u-px-#{$sz} {
      padding: 0 #{$sz}#{$unit};
    }
    .u-py-#{$sz} {
      padding: #{$sz}#{$unit} 0;
    }
    .u-w-#{$sz} {
      width: #{$sz}#{$unit};
    }
  }
}
