/* ////////////////////////////////////////////
// COMPONENTS: BUTTONS
*/
.btn {
  display: inline-block;
  border: none;
  outline: none;
  font: inherit;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  mix-blend-mode: normal;
  cursor: pointer;
  transition: all 0.2s;
  &:focus {
    outline: none;
  }
}




