/* ////////////////////////////////////////////
// COMPONENTS: CARD 
*/
.card {
  width: 100%;
 
  margin: 1rem;
  padding: 2rem 3rem;
  border-radius: 0.8rem;
  background-color: var(--clr-el-700);
  box-shadow: 0 0.8rem 1.5rem rgba(0, 0, 0, 0.3);

  &__photo {
    height: 15rem;
  }
  &__heading {
    color: var(--clr-txt-100);
    font-size: 2rem;

    span + span {
      margin-left: auto;
    }
  }
  &__text {
    font-size: 1.1rem;
  }
}
