/* ////////////////////////////////////////////
// COMPONENTS: SEARCH
*/
.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    width: 90%;
    margin-right: -3.25rem;
    padding: 0.7rem 2rem;
    border: none;
    border-radius: 100px;
    background-color: var(--clr-el-300);
    color: inherit;
    font: inherit;
    transition: all 0.2s;

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--clr-el-400);
    }

    &::-webkit-input-placeholder {
      background-color: var(--clr-el-400);
      font-weight: 100;
    }
  }

  &__input:focus + &__btn {
    background-color: var(--clr-el-400);
  }

  &__btn {
    border: none;
    background-color: var(--clr-el-300);

    &:focus {
      outline: none;
    }
    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--clr-el-600); //#999
  }
}
